.hidden {
    display: none;
}
#regexUserName {
    color: red;
}

.selected {
    box-shadow: inset 10px 10px 100px rgb(165, 165, 165);
    /* box-shadow: 10px 10px 10px black; */
    border-radius: 100px;
    box-sizing: 10px 10px;
}
.unValidate{
    background-color: rgb(156, 162, 170);
}
.unValidate:hover {

}

#card {
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

h3 {
    height: 5px;
}

#divUserName {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-radius: 7.5px;
    height: auto;
    border-style: groove;
    border-width: 5px;
    background-color: antiquewhite;
}

input:active {
    border-color: white ;
}

.unValidate:active{
    border-color: tomato;
}
