.hidden {
    display: none;
}
#regexUserName {
    color: red;
}

.selected {
    box-shadow: inset 10px 10px 100px black;
    /* box-shadow: 10px 10px 10px black; */
    border-radius: 100px;
    box-sizing: 10px 10px;
}
.unValidate{
    background-color: rgb(191, 197, 204);
}